.networknotice {
	margin-top:3px;
	display:block;
	text-align:center;
	padding:5px;
	margin-bottom:7px;
	border-left-width:5px;
	border-left-style:solid;
}
.networknotice.networknotice-default {
	color:#444444;
}
.networknotice.networknotice-inverse {
	color:#ffffff;
}
.networknotice.networknotice-red {
	color:#444444;
	background-color:#ffcccc;
	border-left-color:#ff0000;
}
.networknotice.networknotice-green {
	color:#444444;
	background-color:#ccffcc;
	border-left-color:#00ff00;
}
.networknotice.networknotice-blue {
	color:#444444;
	background-color:#ccccff;
	border-left-color:#0000ff;
}
.networknotice.networknotice-yellow {
	color:#444444;
	background-color:#ffffcc;
	border-left-color:#ffff00;
}
.networknotice.networknotice-purple {
	color:#444444;
	background-color:#ffccff;
	border-left-color:#ff00ff;
}
.networknotice.networknotice-turquoise {
	color:#444444;
	background-color:#ccffff;
	border-left-color:#00ffff;
}
.networknotice.networknotice-lightgrey {
	color:#444444;
	background-color:#cccccc;
	border-left-color:#333333;
}
.networknotice.networknotice-darkgrey {
	color:#444444;
	background-color:#eeeeee;
	border-left-color:#000000;
}
