.networknotice {
	margin-top: 3px;
	display: block;
	text-align: center;
	padding: 5px;
	margin-bottom: 7px;
	border-left-width: 5px;
	border-left-style: solid;
	position: relative;

	.make-networknotice-skin( default, #444444 );
	.make-networknotice-skin( inverse, #ffffff );

	.make-networknotice( red, #444444, #ffcccc, #ff0000 );
	.make-networknotice( green, #444444, #ccffcc, #00ff00 );
	.make-networknotice( blue, #444444, #ccccff, #0000ff );
	.make-networknotice( yellow, #444444, #ffffcc, #ffff00 );
	.make-networknotice( purple, #444444, #ffccff, #ff00ff );
	.make-networknotice( turquoise, #444444, #ccffff, #00ffff );
	.make-networknotice( lightgrey, #444444, #eeeeee, #000000 );
	.make-networknotice( darkgrey, #444444, #cccccc, #333333 );
}

.make-networknotice-skin( @theme, @color ) {
	&.networknotice-@{theme} {
		color: @color;

		a {
			color: @color;
			text-decoration: underline;
		}
	}
}

.make-networknotice( @theme, @color, @background, @border ) {
	&.networknotice-@{theme} {
		color: @color;
		background-color: @background;
		border-left-color: @border;

		a {
			color: @border;
			text-decoration: underline;
		}
	}
}
