td {
	padding: 2px 8px;
}

form > table td {
	vertical-align: top;
}

.input-label {
	min-width: 13em;
	text-align: right;
	white-space: nowrap;
}

.input-helper {
	color: #808080;
	font-style: italic;
	font-size: 0.9em;
	padding-left: 0.5em;
}

input[ type='checkbox' ] {
	margin-left: 0;
}

.log {
	font-size: 0.9em;
}

td.input-container,
td.input-label,
td.input-helper {
	padding: 2px 8px;
}

table.networknotice-preview {
	width: 100%;
}

table.networknotice-preview th {
	padding: 2px 8px;
	background: #e8e8e8;
	width: 1px;
	white-space: nowrap;
	text-align: left;
}

table.networknotice-preview td {
	background: #f1f1f1;
}

.warning {
	font-size: 0.9em;
	color: #ff0000;
}
